In [1]:
# Import libraries: to Ingest data
import package
from pandas import DataFrame
import mysql.connector
from mysql.connector import errorcode
import os
from csv import reader,writer
import random
import time

### Step 1. Install MySQL Python connector
* mysql-connector-python is a MySQL database adapter in Python. It provides convenient APIs to load and query the tables. It also has a nice tool to load CSV files into the tables. In this step, we will need to install this Python module.

~~~
pip3 install mysql-connector-python
~~~

### Step 2. Load third-party ticket sales data into MySQL database
> __Step 2.1 Setup database connection__

> * In order to make a query against the database table, we need to first connect to it. A connection can be established only when the user provides the proper target host, port, and user credentials.

In [2]:
# Setup database connection and connect to MySQL database
def get_db_connection():
    connection = None
    try:
        connection = mysql.connector.connect(user='adhull',
        password='xxxxxx',
        host='127.0.0.1',
        port='3306',
        database='mini_pipeline')
    except Exception as error:
        print("Error while connecting to database for job tracker", error)
    return connection

> __2.2 Load CSV to table__

> * You’ll find the third party vendor data in the CSV file provided to you. 
> * The CSV follows the schema of the table. You will need to use the Python connector to insert each record of the CSV file into the “sales” table.

In [3]:
# Extract data
## Use package.sales to pull data from relative file location
sales = package.sales
file_path_csv = r'data\sales_clean.csv'


# Tranform data
## Append lables to dataframe
df = DataFrame(sales,columns=['ticket_id', 'trans_date', 'event_id', 'event_name', 'event_date', 
                              'event_type', 'event_city', 'customer_id', 'price', 'num_tickets'
                             ])

## Convert columns to the appropriate data types
df1 = df.astype({'ticket_id': 'int', 'trans_date': 'datetime64[ns]', 'event_id': 'int', 'event_name': 'str', 'event_date': 'datetime64[ns]', 
                 'event_type': 'str', 'event_city': 'str', 'customer_id': 'int', 'price': 'float', 'num_tickets': 'int'
                })

## Save .csv file
df1.to_csv(file_path_csv, index=False)

In [4]:
## Create table and Load data to database
def load_third_party(connection, file_path_csv):
    cursor = connection.cursor()
    
    # [Iterate through the CSV file and execute insert statement]
    cursor.execute("DROP TABLE IF EXISTS load_third_party")
    create_sales_table_query = """
    CREATE TABLE sales(
        ticket_id INT,
        trans_date INT,
        event_id INT,
        event_name VARCHAR(50),
        event_date DATE NOT NULL,
        event_type VARCHAR(10),
        event_city VARCHAR(20),
        customer_id INT,
        price DECIMAL,
        num_tickets INT,
        PRIMARY KEY(ticket_id)
    )
    """
    with connection.cursor() as cursor:
        cursor.execute(create_sales_table_query)
        connection.commit
        connection.close

In [10]:
import csv
connection = mysql.connector.connect(user='adhull',
                                     password='xxxxxxx',
                                     host='127.0.0.1',
                                     port='3306',
                                     database='mini_pipeline')

csv_data = csv.reader(file_path_csv)
cursor = connection.cursor()

for row in csv_data:

    cursor.execute('INSERT INTO mini_pipeline.sales (ticket_id, trans_date, event_id, event_name, event_date, event_type, event_city, customer_id, price, num_tickets)' \
          'VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)', 
          row)
    "insert into testcsv(names, classes, mark) values(%s, %s, %s)", row
    
# close the connection to the database.
connection.commit()
cursor.close()
connection.close()     
                   
print("Done")

ProgrammingError: Not enough parameters for the SQL statement