In [8]:
# Import libraries: to Ingest data
import package
from pandas import DataFrame

# Tranform data into DataFrame
sales_List = package.sales_data
df = DataFrame(sales_List,columns=['ticket_id', 
                                   'trans_date', 
                                   'event_id', 
                                   'event_name', 
                                   'event_date', 
                                   'event_type', 
                                   'event_city', 
                                   'customer_id', 
                                   'price', 
                                   'num_tickets'])
df.head()

,ticket_id,trans_date,event_id,event_name,event_date,event_type,event_city,customer_id,price,num_tickets
0,1,2020-08-01,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,123,35.00,3
1,2,2020-08-03,101,Carlisle Ford Nationals,2020-09-30,Exhibition,Carlisle,151,43.00,1
2,3,2020-08-03,102,Washington Spirits vs Sky Blue FC,2020-08-30,Sports,Washington DC,223,59.34,5
3,4,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,223,89.95,2
4,5,2020-08-05,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,126,35.00,1

In [ ]:
'ticket_id', 'trans_date', 'event_id', 'event_name', 'event_date', 'event_type', 'event_city', 'event_addr', 'customer_id', 'price', 'num_tickets'