In [2]:
# Setup database connection
#In order to make a query against the database table, we need to first connect to it. A connection
#can be established only when the user provides the proper target host, port, and user credentials.
def get_db_connection():
    connection = None
    try:
        connection = mysql.connector.connect(user='<username>', 
                                             password='<password>', 
                                             host='<hostname>', 
                                             port='3306', 
                                             database='<database name>')

    except Exception as error:
        print("Error while connecting to database for job tracker", error)

    return connection

In [11]:
import pandas as pd
import os

In [12]:
pwd

'C:\\Users\\alfre\\OneDrive\\3_School\\BootCamp_Springboard\\Data_Engineering_Path\\1_training\\15.3_Data_Pipeline_Mini_Project\\src'

In [16]:
import pandas as pd
df1 = pd.read_csv("C:/Users/alfre/OneDrive/3_School/BootCamp_Springboard/Data_Engineering_Path/1_training/15.3_Data_Pipeline_Mini_Project/data/third_party_sales_1.csv",error_bad_lines=False, engine="python")
df1.head()

,1,2020-08-01,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,123,35.00,3
0,2,2020-08-03,101,Carlisle Ford Nationals,2020-09-30,Exhibition,Carlisle,151,43.00,1
1,3,2020-08-03,102,Washington Spirits vs Sky Blue FC,2020-08-30,Sports,Washington DC,223,59.34,5
2,4,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,223,89.95,2
3,5,2020-08-05,100,The North American International Auto Show,2020-09-01,Exhibition,Michigan,126,35.00,1
4,6,2020-08-05,103,Christmas Spectacular,2020-10-05,Theater,New York,1024,89.95,3

In [ ]:
#Load a CSV
# Read a csv file and set the headers
df = (spark.read
      .options(header='true')
      .csv("/home/repl/workspace/mnt/data_lake/landing/ratings.csv"))

df.show()


=================
Define a Schema
=================
# Define the schema
schema = StructType([
  StructField("brand", StringType(), nullable=False),
  StructField("model", StringType(), nullable=False),
  StructField("absorption_rate", ByteType(), nullable=True),
  StructField("comfort", ByteType(), nullable=True)
])

better_df = (spark
             .read
             .options(header="true")
             # Pass the predefined schema to the Reader
             .schema(schema)
             .csv("/home/repl/workspace/mnt/data_lake/landing/ratings.csv"))
pprint(better_df.dtypes)